*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
  }

.containerNav{
    display: flex;
    font-family: Poppins;
}

#navBar{
    display: flex;
    background-color: lightslategray;
    height: 5rem;
    width: 24rem;
    flex-direction: row;
    position: fixed;
    transition: top 0.6s;
    z-index: 1000;
} 


.contact, .home, .cv{
    display: flex;
    height: 5rem;
    width: 8rem;
    align-items: center;
    padding-left: 2.6rem;
    z-index: 1000;
    font-size: 1.25rem;
}

.contact:hover, .home:hover, .cv:hover{
    background-color: gray;
}

.one{
    background-color: #ff6b6c;
    width: 78,80rem;
    height: 42rem;
    display: flex;
    align-items: center;
}

.tContainer{
    display: flex;
    width: 70%;
    height: 18rem;
    background-color: rgba(0,0,0, 0.2);
    text-align: center;
    border: solid white 3px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
    font-size: 30px;
}

.tBox, .tBox2{
    display: flex;
    color: white;
}
.tBox{
    padding-bottom: 1.3rem;
}

.two{
    display: flex;
}

.html, .css, .js{
    width: 10rem;
    position: absolute;
    z-index: 100;
}

.img{
    background-image: url("https://i.imgur.com/AngyYAy.jpg");
    background-size: 80rem;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    height: 50rem;
    width: 80rem;
    z-index: 1;
}

.html{
    padding-left: 65%;
    padding-top: 22rem;
    clip-path: polygon(0 71%, 100% 71%,100% 100%,0 100%);
}

.css{
    padding-left: 25%;
    padding-top: 22rem;
    clip-path: polygon(0 71%, 100% 71%,100% 100%,0 100%);
}

.js{
    padding-left: 45%;
    padding-top: 25rem;
    clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
}

.tboxInt{
    display: flex;
    position: absolute;
    height: 14rem;
    width: 38%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid white 3px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    left: 31%;
    top: 49rem;
}

.htmlT, .cssT, .javascriptT{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 6rem;
    width: 10rem;
    z-index: 100;
    border: solid white 3px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    top: 79rem;
}

.htmlT{
    left: 65%;
}

.javascriptT{
    left: 45%;
}

.cssT{
    left: 25%;
}