*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.containerNav{
    display: flex;
    font-family: Poppins;
}

#navBar{
    display: flex;
    background-color: lightslategray;
    height: 5rem;
    width: 24rem;
    flex-direction: row;
    position: fixed;
    transition: top 0.8s;
} 


.contact, .home, .cv{
    display: flex;
    height: 5rem;
    width: 8rem;
    align-items: center;
    padding-left: 2.6rem;
}

.contact:hover, .home:hover, .cv:hover{
    background-color: gray;
}

.one{
    
}
